* {
    padding: 0;
    margin: 0;
    
    font-family: "Poppins",sans-serif;
}

.Navbar {
    position: fixed;
    width: 100%;
    height: 3.5rem;
   
    display: flex;
    justify-content: space-between;
    gap : 1rem;
    background-color : rgb(40, 58, 139);
    padding: 0.5rem 0;
    top :0;
    z-index : 100;
     
}

.heading1{
    text-align: center;
     margin : 20px;  
     color : white; 
}

a {
    text-decoration: none;
    color : white;
}

.contents .nav-menu {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.contents button:hover{
    color:red
}
.color img{
    height: 30px;
}

#name {
    color: white;
}

.hero-section{
    width: 100%;
    height: 85vh;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding-top : 3rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
}



.hero-section-left{
    /* width:100%; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2.5rem;
    left :2rem;
    top : 10rem;
    width : 60%;
}

.hero-section-heading{
    font-size: 3rem;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight:600;
    font-size: 2rem;
  
}

.hero-section-sub-heading{
    font-size: 2.5rem;
    line-height: 2.2rem;
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
    font-size: 1.5rem;
}


.hero-section-right{
    position:absolute;
    top : 10rem;
    right: 3rem;
    
  }

  .user-image{
    padding:1rem;
    filter:grayscale(1);
    transition:all 1s;
    animation: scaleImage 5s linear infinite;
    position: relative;
    
    
  }

  .user-image img{
    z-index:-9;
    height : 50vh;
    width : 35vw;
  }

.separator{
    height: 5px;
    width : 100%;
    background-color: grey;
}

.weather-box{
    background-color: #343d68;
    margin: 30px;
    padding: 10px;
}
  
.weather-carousel {
    display: flex;
    scroll-behavior: smooth;

    
}

.city-weather {
    flex: 0 0 auto;
    width: 250px;
    margin: 20px 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}
.city-weather .p{
    text-align: left;
}
.city-weather h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
}
.city-weather p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}


.user-weather-box{
    position: fixed;
    bottom: 0px;
    left : 0px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}

.user-weather h2 {
    padding: 5px;
}

.user-weather p {
    padding: 2px;
}

.user-weather{
    border: 2px solid black;
    background-color: white;
    backdrop-filter: blur(20px);
   
    width : 300px;
    height :180px;
    background : rgba(255,255,255,.1);
    backdrop-filter: blur(30px);
    border : 1px solid rgba(14, 13, 13, 0.665);
    border-radius : 35px;

    padding : 20px;
    color : black;
    text-align: left;



    
}



  @keyframes scaleImage {

    0%{
        filter:grayscale(0);
        transform:scale(1);
        
    }

    50%{
        transform:scale(1.1);
        filter:grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform:scale(1);
        filter:grayscale(0);
    }
    
  }

  .login
  {
    width: 80px;
    height: 40px;
    border: 1px solid black;
    background-color:  #4e45d5;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    border : none;
    box-shadow: 2px 2px 10px rgb(87, 87, 87);
  }


  .login:hover 
  {
    background-color: #555;
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px #464184;
  }
  .accountslink{
    color:black;
}


  .ls{
    display: flex;
    gap:1rem;
  }

  

  @media only screen and (max-width: 700px) {

    .Navbar {
        position: fixed;
        width: 100%;
        height: 1rem;
       
        display: flex;
        justify-content: space-between;
        gap : 1rem;
        background-color : rgb(40, 58, 139);
        padding: 0.5rem 0;
        top :0;
        z-index : 100;
         
    }
 
    .color img{
        height: 25px;
    }
    
    .contents {
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
       
    }
    
    
    #name {
        color: white;
        font-size : 10px;
    }
    
    .hero-section{
        width: 100%;
        height: 85vh;
        position:relative;
        display:flex;
        justify-content: center;
        align-items: center;
        gap:0.5rem;
       
    }
    
    
    
    .hero-section-left{
        /* width:100%; */
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content:center;
        gap: 1rem;
        left :2rem;
        top : 5rem;
        width : 50%;
    }
    
    .hero-section-heading{
        font-size: 1rem;
        color: #343d68;
        font-weight: 500;
    }
    
    .role{
        color: #4e45d5;
        font-weight:600;
        font-size: 1rem;
      
    }
    
    .hero-section-sub-heading{
        font-size: 1rem;
        line-height: 1rem;
    }
    
    .hero-section-description{
        margin-top: 10px;
        width: 80%;
        font-weight: 500;
        font-size: 10px;
    }
    
    
    .hero-section-right{
        position:absolute;
        top : 5rem;
        right: 1rem;
        
      }

      .user-weather{
        width : 100px;
        height: 60px;
        font-size: 10px;
      }
      .user-weather h2 {
        padding: 0.5px;
        font-size: 10px;
    }
    .user-weather p {
        padding: 0.5px;
        font-size: 7px;
    }

   .weather-box .heading1{
    font-size: 15px;

    }
   .city-weather{
    font-size: 10px;
    width : 100px;
    height: 70px;
   }

    
   
  }


  form {
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-size: 18px;
    margin-bottom: 5px;
}

form textarea {
    width: 80%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    background-color: transparent;
    color : white;
}

form button {
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

form button:hover {
    background-color: #ff5722;
}

#feedback{
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
   /* display: flex ;
   flex-direction: column;
   justify-content: center;
   align-items: right;
   color: white; */
}


#feedback-counter {
    margin: 20px;
    font-size: 16px;
}
#feedback-form{
    position:relative;
    left : 20px;
    width : 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#feedback-form button{
    width: 200px;

}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
   
}


button {
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}


@media(max-width : 782px) {
    
    .contents .nav-menu{
        position: fixed;
        left:0%;
    }
    
}