{% extends 'base2.html' %}   


    {% block content %}
   <div class ="container">
    <h2 class ="heading1">Reset Your Password</h2>
    <div class ="separator"></div>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class ="form-group1">
            {{ form.email.label(class = "form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class = "form-group2">
            {{ form.password.label(class = "form-label")  }}
            {{ form.password(class="form-control") }}
        </div>
        <div class = "form-group7">
            {{ form.confirm_password.label(class = "form-label")  }}
            {{ form.confirm_password(class="form-control") }}
            {% for error in form.confirm_password.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
        </div>
        {{ form.submit(class= "reset-btn btn-primary") }}
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </form>
   </div>
   <section id="feedback" class="scroll-section">
    <a href="{{ url_for('About')}}">About Us</a>
    <h2>💬 Feedback and Suggestions</h2>
    <p>We value your input. Please share your ideas on disaster management and additional services:</p>
    <form id="feedback-form">
        <label for="disaster-ideas">Ideas on Disaster Management:</label>
        <textarea id="disaster-ideas" name="disaster-ideas" rows="4" placeholder="Share your ideas on controlling and managing disasters..."></textarea>
        <label for="additional-services">Additional Services:</label>
        <textarea id="additional-services" name="additional-services" rows="4" placeholder="Suggest additional services that could be included..."></textarea>
        <button type="submit">Submit Feedback</button>
    </form>
    <div id="feedback-counter">
        <p>Total Feedback Submitted: <span id="feedback-count">0</span></p>
    </div>
</section>
  <footer>
    <p>&copy; 2024 CalamityCare</p>
</footer>
    {% endblock%}
    


